minitwit-backend/bin/
minitwit-backend/obj/
minitwit-backend/.vs/
minitwit-backend/minitwit.db
minitwit-backend/.vagrant/

_MySQL_Init_Script/
database-data/

MinitwitTests/obj/
MinitwitTests/bin/
bin/
obj/